{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>{{ article.title }}-明江国际</title>
  <link rel="shortcut icon" href="/static/images/favicon.png"/>
  
 

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Access-Control-Allow-Origin" content="*">

<link id="dns-prefetch" href="//img0.ykystatic.com,//img1.ykystatic.com"/>
 
<link rel="stylesheet" type="text/css" href="//misc.ykystatic.com/webres/lib/jquery.mCustomScrollbar/2.8.2/jquery.mCustomScrollbar.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>

<!--[if lt IE 9]>
      <script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js?v=180427131937"></script>
      <script type="text/javascript" src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js?v=180427131937"></script>
<![endif]-->


  <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/app/notice.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/libs/ueditorpatch.css"/>

    <script type="text/javascript" >

var ykyUrl = {
		admin : '//admin.yikuyi.com',
		transaction : '/services-transaction',
		portal :'//www.yikuyi.com',
		pay: '/services-pay',
		payPort: '//pay.yikuyi.com',
		mainPort: '//my.yikuyi.com',
		customerPort: '//home.yikuyi.com/main',
		uploadPort: '//admin.yikuyi.com',
		database: '/services-basedata',
		party: '/services-party',
		product: '/services-product',
		quotation: '/services-quotation',
		cartPort:'/services-transaction',
		login:'https://passport.yikuyi.com',
		customer:'//home.yikuyi.com/main',
		info: '/services-info',
		webres : '//misc.ykystatic.com/webres',
		_this : ''
};

		//ykyUrl.transaction='http://192.168.1.101:9023';
		/* avalon.config({
		    debug: false
		})  */
	</script>
</head>

<body id="information" data-logo="bulletinInformation" data-title="资讯详情" >
<!---index header  start   ---->
 






<div class="header bdb hd">
    




<style type="text/css">
	.order_box{left:-30px;}
	.cc_user{left: -90px;}
	.yky_box_main .cc_nologin{height: 14px;line-height: 14px;width: auto;margin-left: 10px;}
	#_showName{color:#333;}
</style>

<!---index header  start   ---->
<div class="header hd">
    <div class="topbase">


			<div class="w"> <!-- ovh -->
				<ul class="l f12 ">
					<li class="dt">您好，欢迎来到<a href="/">明江国际</a>！</li>
				</ul>
				<ul class="l f12" style="height:30px;">
					<marquee width="350" height="30" behavior="alternate" scrollamount="2" onmouseout="start()" onmouseover="stop()" class="run_nocition">
						<span title="" class="show_nocition"><i class="title_notice" style="color:#3377aa;"></i><a href="javascript:;" target="_blank" class="top_nocition"> </a></span>
					</marquee>
				</ul>
				<ul class="r f12">


				    <li >客服热线{{ companyInfo.phone }}</li>
                    <li class="spacer mt8"></li>
				    <li><a rel="nofollow"   href="javascript:void(0);" onclick="AddFavorite('mj','http://www.mj-electronic.com')"><i  style="color:#036eb8;"></i> 收藏本站</a></li>
                    <li class="spacer mt8"></li>
                    <li ><a rel="nofollow" target="_blank" href="{{ companyInfo.emailLink }}">邮件</a></li>
                    <li class="spacer mt8"></li>
                    <li ><a rel="nofollow" target="_blank" href="{{ companyInfo.sysLink }}">系统登录</a></li>

				</ul>
			</div>


    </div>
	<div style="height:90px;" class="w rel pt12">
		<div class="logo_index">
			<a href="/" class="logo db">
				<img src="/static/images/static/logo2x.png" alt="明江国际" width="200" >
			</a>
		</div>
		<ul class="f16 top_menu" style="height:80px;margin-top:32px;">
		   <!-- <li class="spacer mt8"></li> -->
		   <!-- <li class="spacer mt8"></li> -->
		   <li class="ml60"><a class="b " href="/search/?s=" style="margin-left: 30px"  id="vendorList"> 全部产品</a></li>
            {% for data in articleType %}
               <li class="ml60"><a class="b " href="/articlelist/?type={{ data.id }}&page=1" style="margin-left: 30px"  id="vendorList"> {{ data.typeName }}</a></li>
            {% endfor %}
		   <li class="ml60"><a class="b active" href="/about" style="margin-left: 30px"  id="manuList"> 关于明江</a></li>
		   <li class="ml60"><a class="b" href="/contactus" style="margin-left: 30px"  id="finance"> 联系我们</a></li>
		</ul>

		<!-- 新版搜索框 -->
		<div class="header_search r">
            <form  method="get" action="/search" autocomplete="off">
			<div class="header_search_new" id="hSearch">
				<input type="text" class="header_search_text" noplaceholder='true' name="s" id="_condition" maxlength="50" placeholder="请输入型号" />
				<i class="header_search_limg icon-head-search"></i>
				<button style="cursor: pointer;" class="header_search_rimg icon-head-search" ></button>
				<a href="javascript:;" class="icon-head-delete head-delete" style="display:none;"></a>
			</div>
           </form>
			<!-- 关联词显示 -->
			<div class="predictive_box predictive_top dsn">
				<i class="show_up"></i>
			</div>
		</div>


	 </div>


	</div>
	<input id="pageToken" type="hidden" value="Basic "/>
 </div>
<!---index header  end   ---->
<script>
	var hasLogin = 'false';
</script>


<!---index header  end    ---->

<!---menu  end   ---->
<!---Detalis content ---->
<div class="w" style="min-height:600px;">
	<!-- 面包屑 -->
	<div class="bread_crumbs w fix">
	     <ul>
	    	<li>
			   <a class="all_results" href="/">首页</a>
	    	</li>
	    	<!-- 分类 -->
	   		<li id="show_big_class">
	   			<span class="icon-indicate_rmin"></span>

				   			<a href="">资讯详情</a>
	   			
	   		</li>
	   		<li id="show_big_class">
	   			<span class="icon-indicate_rmin"></span>
	   			<span class="title_span">正文</span>	
	   		</li>
		</ul>
	</div>
	<!-- 面包屑 -->
	<!---Detalis ok ---->
	<div class="notice_cont fix mt20" >

			<div class="notice_new" style="margin:0 auto ;text-align: center">
				<div class="layout nt_new">
					<h2 class="tc">{{ article.title }}</h2>
					<div class="tc" style="margin-top:5px;">
						<span>{{ article.date_time }}</span>
						<span style="margin-left:20px;"></span>
					</div>
					<div class="mt30">
                        {{ article.content | safe }}
					</div>
				</div>
				
			</div>



		
		<!-- 改版新闻资讯详情 -->
		<!--<div class="notice-right r">
				<div class="information-show">
					<div class="information-top">
						<span>资讯推荐</span>
					</div>
					<ul class="information-list">

							<li>
								<a target="_blank" style="display:inline-block;" href="/news/990157207616094208.htm">
									<div class="information-detail-left l">



												<img style="width:100px;height:100px;" alt="" onerror="this.onerror=null;this.src='/images/static/information.png';" src="https://img1.ykystatic.com/notice/publicRead/201804/28/b96625007bf6ba516c83580bbb93596f.jpg"/>




									</div>
									<div class="information-detail-right l">
										<p class="information-detail-content"><i style="font-weight: bold;">【厉害了，我的树莓派！周五来一波...促销...】</i>又逢周五，今天要开启一个异于平常的时代。因为，这一天，的明天.....</p>
										<p class="information-detail-tips">
											<span class="information-type">



														新闻资讯




											</span>
											<span class="information-date">2018-04-28 17:14</span>
										</p>
									</div>
									<span class="bor-b"></span>
								</a>
							</li>

							<li>
								<a target="_blank" style="display:inline-block;" href="/news/984696119025991680.htm">
									<div class="information-detail-left l">



												<img style="width:100px;height:100px;" alt="" onerror="this.onerror=null;this.src='/images/static/information.png';" src="https://img0.ykystatic.com/notice/publicRead/201804/13/c2bb0887c6bd64f923ce1c62c7759891.jpg"/>




									</div>
									<div class="information-detail-right l">
										<p class="information-detail-content"><i style="font-weight: bold;">【大面积缺货！最全找货攻略来了！】</i>下半年打败你的不是没钱，而是史无前例的缺货!最近，很多采购都急坏了，想买元器件物料，问遍了周边熟悉的供应商，都！没！货！&nbsp;眼瞅着生产线快要断了，只能在心里干着急。这到底怎么回事？什么时候有货？采购如何应对呢？&nbsp;小易把大家关心的“为什么、会怎样、怎么办”这3大哲学问题都整理好了，一起来看看吧~&nbsp;1、为何如此紧缺？&nbsp;缺，是因为紧俏。下面以电阻、MLCC、MOSFET、存储器为栗子说说为啥会紧缺。&nbsp;电阻：3月5日，电阻厂商旺诠及天二科技发出涨价通知，旺诠部分厚膜电阻单价调涨25%以上，天二科技部分产品调涨15%-30%。而在此之前，包括风华高科、丽智.....</p>
										<p class="information-detail-tips">
											<span class="information-type">



														新闻资讯




											</span>
											<span class="information-date">2018-04-13 15:34</span>
										</p>
									</div>
									<span class="bor-b"></span>
								</a>
							</li>

							<li>
								<a target="_blank" style="display:inline-block;" href="/news/981349929584689152.htm">
									<div class="information-detail-left l">


												<img style="width:100px;height:100px;" alt="" onerror="this.onerror=null;this.src='/images/static/notice.png';" src="https://img1.ykystatic.com/notice/publicRead/201804/04/f6781a5d209df70fcdf3bd3bd94b80ba.png"/>





									</div>
									<div class="information-detail-right l">
										<p class="information-detail-content"><i style="font-weight: bold;">【RS欧时电子专场，好货特惠随你抢】</i>活动说明1.本次活动时间为2018年3月30日-6月30日（.....</p>
										<p class="information-detail-tips">
											<span class="information-type">


														官方公告





											</span>
											<span class="information-date">2018-04-04 09:59</span>
										</p>
									</div>
									<span class="bor-b"></span>
								</a>
							</li>

							<li>
								<a target="_blank" style="display:inline-block;" href="/news/978104087302111232.htm">
									<div class="information-detail-left l">


												<img style="width:100px;height:100px;" alt="" onerror="this.onerror=null;this.src='/images/static/notice.png';" src="https://img2.ykystatic.com/notice/publicRead/201803/26/9e0ecdfb5fcf4865830c2dd467c66327.jpg"/>





									</div>
									<div class="information-detail-right l">
										<p class="information-detail-content"><i style="font-weight: bold;">【电阻/MLCC/MOSFET/MCU芯片缺货品牌汇】</i>活动说明1.本次活动时间为2018年3月23日-6月30日（.....</p>
										<p class="information-detail-tips">
											<span class="information-type">


														官方公告





											</span>
											<span class="information-date">2018-03-26 10:59</span>
										</p>
									</div>
									<span class="bor-b"></span>
								</a>
							</li>

							<li>
								<a target="_blank" style="display:inline-block;" href="/news/976015364196401152.htm">
									<div class="information-detail-left l">



												<img style="width:100px;height:100px;" alt="" onerror="this.onerror=null;this.src='/images/static/information.png';" src="https://img1.ykystatic.com/notice/publicRead/201803/20/a10e7006c7f1bf56ee77288975e502d5.jpg"/>




									</div>
									<div class="information-detail-right l">
										<p class="information-detail-content"><i style="font-weight: bold;">【芯鲜！2018慕展寻宝图，易库易好礼相送~】</i>今天是参展的第二天小易的前线报道姗姗来迟但是相信各位意粉是不.....</p>
										<p class="information-detail-tips">
											<span class="information-type">



														新闻资讯




											</span>
											<span class="information-date">2018-03-20 16:39</span>
										</p>
									</div>
									<span class="bor-b"></span>
								</a>
							</li>

					</ul>
				</div>

            -->
		</div>
	</div>
	
</div>
<!---Detalis content ---->
<!---Detalis footer  start   ---->

 <div class="footer fix">



	 <div class="ft_w f12 bg3">
	 	<div class="w rel">
		     <div class="f_copyright footer_new f14">

				<p>明江国际电子（深圳）有限公司 版权所有  Copyright@2015-2018 mj-electronic.com Limited. All rights reserved <span class="partition">|</span><a  class="foot_link" target="_blank" href="http://www.miitbeian.gov.cn" rel="nofollow">粤ICP备18004343号-1</a></p>
		      <p>
		     		<span>友情链接：</span>

                     {% for siteLink in siteLinks %}
                     <span><a href={{ siteLink.link }} target="_blank" class="foot_link">{{ siteLink.name }}</a></span>
                     {% if not forloop.last %}
                      <i></i>
                     {% endif %}

                     {% endfor %}
                 </p>
             </div>
		     <div class="footer_img">
		     	<a href="http://gdcainfo.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="nofollow"><span class="foot_img03"></span></a>
		     	<a href="http://www.gdnet110.gov.cn/"  target="_blank" rel="nofollow"><span class="foot_img04"></span></a>
		     </div>
			<input type="hidden" id="projectUrl" value="">

		</div>
     </div>
 </div>


<div id="fixBar">
    <ul class="showBar">
    	<li><a class="go2coupon" href="javascript:;" ><em class="bar_coupon"></em><span>优惠券<i class="tgl"></i></span></a></li>
    	<li><a class="onlineSever openFirmQQ" href="javascript:;"><em class="bar_qq"></em><span>在线客服<i class="tgl"></i></span></a></li>
        <li class="middleTgl"><a href="javascript:;"><em class="bar_qrCode "></em><div class="qrCode"><img src=""><i class="tgl"></i></div></a></li>        
	</ul>
    <ul class="showBarBtm">
    	<li><a class="openFeedback" href="javascript:;" onclick="addFeedback();"><em class="bar_feedBack"></em><span>意见反馈<i class="tgl"></i></span></a></li>
        <li><a class="go2Top" href="javascript:;"><em class="bar_top"></em><span>返回顶部<i class="tgl"></i></span></a></li>
    </ul>
</div>

<div id="openFeedback" style="display: none;">
	<div id="contentMsg" style="display:block;" class="feedback feed">
		<p class="feedback_tips">您有任何意见和建议，或使用中遇到的问题，请在本页面反馈。</p>
		<p class="f16 g3 mt10">反馈内容：</p>
		<div class="feed_text mt14 rel">
			<textarea class="text_c" id="content" maxlength="200" placeholder="请输入您想反馈的内容，我们将竭诚为您服务"></textarea>
			<p class="g9 f12 r mr12 mt4"><i class="letter_num">0</i>/200</p>
			<span id="content_tips" class="f14 mt4 dib f_error1 v_hide" style="color:#B2100D">请输入反馈内容</span>
		</div>
		<p class="f16 mt10"><span class="g3">联系方式</span><i class="g6">（选填：邮箱、手机、QQ均可）：</i></p>
		<p class="mt14"><input name="联系方式" type="text" id="contactTel"  class="contact" value="" >
		<span id="contactTel_tips" class="f14 mt4 dib f_error2 v_hide" style="color:#B2100D">请输入联系方式</span>
		</p>
		<p class="tc rel mt14" style="margin-bottom:40px;"><a onclick="saveFeedback()" class="feedbutton submit_btn mr20">提交</a><a onclick="layer.close(deleteDivIndex)" class="feedbutton">取消</a><!-- <span class="error" style="display:none;"><i></i><em class="error_tips"></em></span> --></p>
	</div>
	<div id="successTip" style="display:none;margin-top:130px; margin-left:130px;" class="feedbutton"><a href="javascript:;" class="feedbutton">提交成功</a></div>
</div>
 

<script type="text/javascript" src="/static/webres/jquery.min.js"></script>
<script type="text/javascript" src="/static/webres/kkpager.min.js"></script>
<script type="text/javascript" src="/static/webres/layer.js"></script>
<script type="text/javascript" src="/static/webres/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/webres/require.js"></script>
<script type="text/javascript" src="/static/webres/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/static/js/lib/ykypage.js"></script>
<script type="text/javascript" src="/static/js/lib/yky.common.js"></script>
<script type="text/javascript" src="/static/js/common/common.js"></script>
<script type="text/javascript" src="/static/js/app/headerCart.js"></script>
<script type="text/javascript" src="/static/js/app/header.js"></script>
<script type="text/javascript" src="/static/webres/ga.min.js"></script>

<script type="text/javascript" src="/static/js/requirejs-config.js"></script>

<script type="text/javascript" src="/static/js/app/index.js"></script>

<script type="text/javascript">

	/*
	 * 显示一个提示文字
	 */
  	
  	var resultMessage = "";
  	$(function(){
  			
  		if(resultMessage != ""){
  			showMessage(resultMessage);
  		}
  	});
	$(function(){
		if(resultMessage != ""){
			//showMessage(resultMessage);
		}
	});
	function showMessage(message){
		$(".ts_text").text(message);
		$(".ts_text").toggle("slow","swing",true);
		setTimeout(function(){
			$(".ts_text").toggle("slow","swing",false);
		},3000);
	}

 var deleteDivIndex = 2;
 function addFeedback(){
	 $("#content").val(""); 
	 $("#contactTel").val("");
	 $(".letter_num").text(0);
	 $("#content").siblings("div").css("display","block");
	 $(".feedback .f_error1").addClass("v_hide");
	 $(".feedback .f_error2").addClass("v_hide");
	 $(".feedback .text_c").removeClass("error_bor");
	 $(".feedback .contact").removeClass("error_bor");
	 document.getElementById("contentMsg").style.display="";
	 document.getElementById("successTip").style.display="none";
	deleteDivIndex = layer.open({
	  type: 1,
	  title:" ",
	  move: false,
	  offset:'10%',
	  shade: 0.5,
	  skin:'s_feedback',
	  area: ['500px', '480px'],
	  content: $('#openFeedback')
	});
}

function httpPost(content,contactTel){
	var recommendData = JSON.stringify({
			content:content,
			contentTel:contactTel
	})
	$.ajax({
		  type: "POST",
		  url: ykyUrl.info + "/v1/recommendations",
		  contentType:'application/json',
		  data: JSON.stringify({
				categoryId:'20005',
				content:recommendData
			}),
		  async: false,
		  success: function(data){
			  layer.close(deleteDivIndex)
			  layer.msg("<p class='g3 tc'><i class='icon-right-c' style='font-size:24px;font-weight:bold;color:#87b848;margin-right:15px;position:relative;top:3px;'></i>提交成功！</p>", {
	                area: ["420px", "120px"],
	                offset: '30%',
	                skin: "msg_skin_class"
	            });
		  }
	});
}
function saveFeedback(){
	var content = $("#content").val(); 
	var contactTel = $("#contactTel").val(); 
	if(!content || $.trim(content).length <= 0){
		$(".feedback .f_error1").removeClass("v_hide");
		$("#content").addClass("error_bor");
		if(!contactTel || $.trim(contactTel).length <= 0){
			$("#contactTel").addClass("error_bor");
			$(".feedback .f_error2").removeClass("v_hide");
		}
		return;
	}
	if(!contactTel || $.trim(contactTel).length <= 0){
		$(".feedback .f_error2").removeClass("v_hide");
		$("#contactTel").addClass("error_bor");
		return;
	}
	httpPost(content,contactTel);
}
$("#content").on("keyup",function(){
	$(this).removeClass("error_bor");
	$(".feedback .f_error1").addClass("v_hide");
	var ln = $("#content").val().length;
	$(".letter_num").text(ln);
})
$("#contactTel").on("keyup",function(){
	$(".feedback .f_error2").addClass("v_hide");
	$(this).removeClass("error_bor");
})
</script>


<!-- WPA Button Begin -->
<script type="text/javascript">

	function closeWpaqq(){
		 $("body").on("click",".openFirmQQ",function(){
			 window.open('http://wpa.qq.com/msgrd?v=3&uin={{ companyInfo.qq }}');
		 })
	}
	closeWpaqq();
</script>

 <!---index footer  End   ---->

</body></html>



